h1 {
    color: #2D033B;
}

a {
    text-decoration: none !important;
}

.list-group-item {
    color: #810CA8 !important;
    background-color: #eeeaf0 !important;
    transition: all .3s ease-in-out;
}

.list-group-item:hover {
    color: #a228ca;
    font-weight: bold !important;
    background-color: #e6d2ee !important;
}

.link {
    width: 10%;
}

.myButton {
    background-color: #9074f3!important;
}

.myButton:hover {
    background-color: #7537da !important;
}